body {
    background-color: aqua;
}

.h1 {
    text-align: center;
    font-size: 50px;
    
    height: 200px;
    width: 100px;
}

.wk1title {
    text-align: center;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 130px;
    border-style: solid;
    text-align: center;
    border-width: 10px;
}


.home1 {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    width: fit-content;
    margin: 10px;
    text-align: center;
    line-height: 0%;
    font-size: 20px;
}

.wk1sum {
    font-size: 100px;
}

 .home2 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(234, 11, 11);
    width: fit-content;
    margin: 10px;
    text-align: center;
    line-height: 0%;
    font-size: 20px;   
 } 
.wk2sum {
    font-size: 100px;
}

