body {
    background-color: aqua;
}


.week_links {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.week_links > h2 {
    width: fit-content;
    margin: 40px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
}

.intro {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.home1 {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    line-height: 0%;
    font-size: 20px;
}

.wk1title {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.wk1sum  {
    position: relative;
    font-size: 20px;
    letter-spacing: normal;
}

.home2 {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    line-height: 0%;
    font-size: 20px;  
 } 

.wk2title {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.wk2sum {
    position: relative;
    font-size: 20px;
    letter-spacing: normal;
}

